<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href=#>
    <!-- <img src="/src/assets/images/burguer-icon-2.png" width="30" height="30" class="d-inline-block align-top" alt=""> -->
    <img src="assets/images/burguericon2.png" width="30" height="30" class="d-inline-block align-top" alt="">
    PedRest!
  </a> 
  <button class="navbar-toggler" type="button" 
  data-toggle="collapse" 
  data-target="#navbarSupportedContent" 
  aria-controls="navbarSupportedContent" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  active dropdown">
        <a href="#" class="nav-link dropdown-toggle" 
        id="pedidosDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pedidos
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" 
        aria-labelledby="pedidosDropdown">
          <a class="dropdown-item" routerLink="pedidos">Ver Pedidos</a>
          <a class="dropdown-item" routerLink="pedidos/edit">Alta Pedido</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" 
        id="administracionDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administracion
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" 
        aria-labelledby="administracionDropdown">
          <a class="dropdown-item" routerLink="administracion/adicionales">Adicionales</a>
          <a class="dropdown-item" routerLink="administracion/horarios">Horarios</a>
          <a class="dropdown-item" routerLink="administracion/menus">Menus</a>
          <a class="dropdown-item" routerLink="administracion/guarniciones">Guarniciones</a>
          <a class="dropdown-item" routerLink="administracion/bebidas">Bebidas</a>
          <a class="dropdown-item" routerLink="administracion/postres">Postres</a>
          <a class="dropdown-item" routerLink="administracion/salsas">Salsas</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" 
        id="clientesDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" 
        aria-labelledby="clientesDropdown">
          <a class="dropdown-item" routerLink="administracion/clientes">Adm. Clientes</a>
          <a class="dropdown-item" routerLink="administracion/empresas">Adm. Empresas Cliente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" 
        id="facturacionDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Facturacion
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" 
        aria-labelledby="facturacionDropdown">
          <a class="dropdown-item" routerLink="facturas">Ver Facturas</a>
          <a class="dropdown-item" routerLink="pagar-factura">Pagar Factura</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" 
        id="usuariosDropdown" role="button" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" 
        aria-labelledby="usuariosDropdown">
          <a class="dropdown-item" routerLink="usuarios">Usuarios</a>
          <a class="dropdown-item" routerLink="perfiles">Perfiles</a>
          <a class="dropdown-item" routerLink="permisos">Permisos</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="nosotros">Nosotros <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" 
        tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <div class="navbar-header navbar-right">
      <ul class="nav navbar-nav">
        <li>
          <a>Hola Usuario!</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

